.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: aliceblue;
    border-style: solid;
    border-width: 1px;
}

.item {
    display: flex;
    flex-direction: column;
}

.itemTop {
    border-top: 1px solid;
}

.itemsContainer {
    border-style: solid;
    border-width: 1px;
    width: 80%;
    margin-bottom: 30px;
}
